.form-control {
    background-color: white;
}

.navbar{
    height: 5rem;
    --bs-navbar-padding-y: .7rem;
}

.navbar-collapse{
    margin-right: -.7rem;
    margin-left: -.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

[data-bs-theme=dark] {
    --bs-secondary-color: rgba(128, 128, 128, 0.596);
    --bs-body-color: rgba(128, 128, 128, 0.596);
}

table p{
    display: inline;
}

.fa-solid{
    border: 1px solid grey;
    color: grey;
    border-radius: .4rem;
    padding: .4rem;
    width: 2rem;
}

.table>:not(caption)>*>*{
    padding: .8rem .8rem;
}

.label{
    padding: .1rem .4rem;
    border-radius: .4rem;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: transparent;
    border-color: white;
}

.navbar-brand img{
    width: 3rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-collapse {

    padding-bottom: 0;
}
}