.form-control {
    background-color: white;

}

.navbar{
    height: 5rem;
}

.form-control:focus {
    background-color: white;
    color: rgba(128, 128, 128, 1)
}

[data-bs-theme=dark] {
    --bs-secondary-color: rgba(128, 128, 128, 0.596);
    --bs-body-color: rgba(128, 128, 128, 0.596);
}

.btn {
    color: var(--bs-btn-hover-color);
    background-color: transparent;
    border-color: white;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: transparent;
    border-color: white;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: transparent;
    border-color: white;
}

.navbar-brand img{
    width: 3rem;
}